/* !!! MAIN / INDEX.HTML PAGE STYLING !!! */


/*Universal and body styling */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding-bottom: 0px;
    border: ridge 15px rgba(107, 71, 36,1);
    background-color: rgba(248, 233, 173,0.8);
    min-width: 100%;
}

/* Setting up the main grid template */

.container {
    background-image: url("Images/Compressed/background-min.JPG");
    background-size: 120%; 
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "heading"
    "navBar"
    "content"
    "findMore"
    "footer"
}

.cell {
    background-color: rgba(255, 255, 255,0.3);
}


/* Heading area */

.heading {
    grid-area: heading;
    display: grid;
    justify-items: center;
    align-items: center;
    border: none;
    padding: 10px 0px;
    background-color: rgba(248, 233, 173,0.9);
    height: 100%;
    width: 100%;
}

.heading div {
    font-size: 2.2vw;
    text-align: center;
    background-color: rgba(142, 153, 99,1);
    border-radius: 5px;
    border: double 5px black;
    width: 85%;
    height: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 60% 40%;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "img heading"
    "img subheading"
}

.heading h1 {
    grid-area: heading;
    height: 90%;
    font-family: 'Fondamento', cursive;
    text-shadow: 2px 2px 5px rgba(65, 61, 61,1);
    white-space: nowrap;
}


.heading h3 {
    grid-area: subheading;
    font-family: 'Cormorant Infant', serif;
    text-shadow: 1px 1px 2px rgba(65, 61, 61,1);
}

.heading img {
    max-height: 110px;
    min-height: 30px;
    grid-area: img;
    border: double 4px black;
    border-radius: 2px;
}


/*NavBar area */

.navBar {
    grid-area: navBar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: rgba(248, 233, 173,0.9);
    border-bottom: double 5px black;
    padding: 0px 20% 10px 20%;
}

.navBar a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-family: 'Cormorant Infant', serif;
    transition: border-bottom 0.5s ease-in;
    border-bottom: 1px solid rgba(43, 39, 39,0);
    padding: 0px 10px;
}

.navBar a:hover {
    border-bottom: 1px solid rgba(43, 39, 39,1);
}

/* Content area */

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: 'Cormorant Infant', serif;
    color: rgba(43, 39, 39,1);
    background-color: rgba(255, 255, 255,0.4);
    padding: 40px 0px;
}

.box {
    max-width: 40vw;
    min-width: 350px;
    min-height: 350px;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-shadow: 8px 8px 5px rgba(90, 88, 88,0.4);
    background-size: cover;
    border: solid 2px rgba(43, 39, 39,1);
}

.box h2 strong {
    font-size: 1.5em;
}


.box p {
    opacity: 0;
    transition: opacity 3s;
    background-color:rgba(248, 233, 173,0.9);
    padding: 10px 10px;
    margin: 2px 2px;
    border: 1px solid rgba(43, 39, 39,1);
    border-radius: 2px;
}

.box h2 {
    background-color:rgba(248, 233, 173,0.9);
    transition: font-size 2s;
    width: 90%;
    padding: 5px 5px;
    border-radius: 2px;
    border: 1px solid rgba(43, 39, 39,1);
    margin-top: 0px;
    font-size: 1.3em;
}

.box:hover p {
    opacity: 1;
}

.box:hover h2 {
    font-size: 1.5em;
}

.box p:hover {
    color: rgba(15, 104, 104,1);
    cursor: pointer;
}

/*individual boxes in content area */

.when {
   background-image: url("Images/Compressed/combined-image-2-min.jpg");
}

.why {
    background-image: url("Images/Homepage tollhouse.jpg");
}

.who {
    background-image: url("Images/Compressed/combined-image-1-min.jpg");
}

.how{
    background-image: url("Images/Compressed/Homepage change-min.JPG");
}


/* Find Out More area */

.findMore {
    grid-area: findMore;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Fondamento', cursive;
    background-color: rgba(255, 255, 255,0.4);
    text-align: center;
}

.findMore h2 {
    font-size: 2.2em;
    background: rgba(248, 233, 173,0.9);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: double 5px black;
    text-shadow: 1px 1px 2px rgba(65, 61, 61,1);
    transition: font-size 1s linear;
}

.findMore h2:hover {
    font-size: 2.3em;
    cursor: pointer;
    color: rgba(13, 61, 61,1);
}

/* Footer area */

.footer {
    grid-area: footer;
    background-color: rgba(248, 233, 173,0.8);
    border-top: double 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Infant', serif;
    color:rgba(43, 39, 39,1);
    padding: 10px 5px;
}

/*Media Queries */

/* Smaller desktop, resizing styling */

@media only screen and (max-width: 1018px) {
    .heading {
        padding: 5px 5px;
    }

    .heading div {
        width: 95%;
        font-size: 2.4vw;
        padding: 20px 0px;
    }
    .heading h3 {
        font-size: 3.7vw;
    }

    .heading img {
        max-height: 80px;
    }

    .navBar a {
        font-size: 1.6em;
        padding-left: 5px;
        padding-right: 5px;
    }

    .box { 
        max-width: 450px;
    }

}

/* Mobile device styling */

@media only screen and (max-width: 640px){
    .navBar {
        padding: 0px 5% 10px;
    }

    .navBar a {
        font-size: 1.2em;
        white-space: nowrap;
    }

    .heading div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: fit-content;
        padding-left: 5px;
        padding-right: 5px;
    }

    .heading img {
        width: 70%;
        border: none;
        display: none;
    }

    .heading h1 {
       font-size: 2.2em;
    }

    body {
        border: ridge 5px rgba(107, 71, 36,1);
    }

    .box {
        min-width: 70%;
        min-height: 250px;
        margin-bottom: 20px;
    }

    .box h2 {
        font-size: 1em;
    }

    .box h2, p {
        width: 100%;
    }

    .box p {
        font-size: 0.8em;
    }

    .navBar {
        justify-content: center;
    }

    .when {
        background-image: url("Images/Compressed/Switzer garden-min.jpg");
        background-position: 50% 30%;
    }

    .who {
        background-image: url("Images/Compressed/MrSumner.jpg");
        background-position: 50% 10%;
    }

    .how {
        background-image: url("Images/Compressed/Homepage change-min.JPG");
        background-position: center
    }

    .content {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    
    .findMore h2 {
        font-size: 1.8em;
        padding: 0px 10px;
    }
    
}


/* !!! OUR SERVICES / SERVICES.HTML PAGE STYLING !!! */



.servicesContainer {
    background-image: url("Images/Compressed/background-min.JPG");
    background-size: 120%; 
    min-height: fit-content;
    background-color:rgba(255, 255, 255,0.3);
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "heading"
    "navBar"
    "servicesContent"
    "footer"
}

.servicesContentHolder {
    grid-area: servicesContent;
    min-height: 500px;
    padding: 20px 0px;
    background-image: url("Images/Background 2.JPG");
    background-size: cover;
}

.servicesContent {
    width: 60%;
    min-height: 100%;
    margin: 0px auto;
    font-family:'Cormorant Infant', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(248, 233, 173,0.9);
    border: double 5px black;
    color:rgba(43, 39, 39,1);
}

.servicesContent h1 {
    font-size: 2.9em;
    text-decoration: underline;
}

.servicesContent h2 {
    font-size: 1.8em;
}

.servicesContent h3 {
    color: rgb(65, 75, 20);
    font-size: 1.4em;
}

.servicesContent p {
    font-size: 1.2em;
}


.servicesContent span, a {
    text-decoration: underline;
    color:rgba(43, 39, 39,1);
}

.servicesContent section, article {
   padding: 20px 10px;
}

@media only screen and (max-width: 1018px) {
    .servicesContent {
        width: 80%;
    }

}


@media only screen and (max-width: 640px){

.servicesContent {
    width: 95%;
}

.servicesContent h1 {
    font-size: 2.3em;
}

.servicesContent h2 {
    font-size: 1.4em;
}

.servicesContent h3 {
    font-size: 1.2em;
}

.servicesContent p {
    font-size: 1em;
}
}