/* !!! MAIN / INDEX.HTML PAGE STYLING !!! */


/*Universal and body styling */

* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    height: 100%;
    padding-bottom: 0px;
    border: ridge 15px rgba(107, 71, 36, 1);
    background-color: rgba(248, 233, 173, 0.8);
    min-width: 100%;
}

/* Setting up the main grid template */

.container {
    background-image: url("Images/Compressed/background-min.JPG");
    background-size: cover;
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "heading"
        "navBar"
        "content"
        "findMore"
        "footer"
}

.cell {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Heading area */

.heading {
    grid-area: heading;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    padding: 10px 0px;
    background-color: rgba(248, 233, 173, 0.9);
    height: 100%;
    width: 100%;
}

.heading div {
    font-size: 2.2vw;
    text-align: center;
    background-color: rgb(142, 153, 99);
    border-radius: 5px;
    border: double 5px black;
    width: 85%;
    height: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 60% 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    grid-template-areas:
        "img heading"
        "img subheading"
}

.heading h1 {
    grid-area: heading;
    height: 90%;
    font-family: 'Fondamento', cursive;
    text-shadow: 2px 2px 5px rgba(65, 61, 61, 1);
    white-space: nowrap;
}


.heading h3 {
    grid-area: subheading;
    font-family: 'Cormorant Infant', serif;
    text-shadow: 1px 1px 2px rgba(65, 61, 61, 1);
}

.heading img {
    max-height: 110px;
    min-height: 30px;
    grid-area: img;
    border: double 4px black;
    border-radius: 2px;
}


/*NavBar area */

.navBar {
    grid-area: navBar;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background-color: rgba(248, 233, 173, 0.9);
    border-bottom: double 5px black;
    padding: 0px 20% 10px 20%;
}

.navBar a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-family: 'Cormorant Infant', serif;
    -webkit-transition: border-bottom 0.5s ease-in;
    transition: border-bottom 0.5s ease-in;
    border-bottom: 1px solid rgba(43, 39, 39, 0);
    /*padding: 0px 10px; */
}

.navBar a:hover {
    border-bottom: 1px solid rgba(43, 39, 39, 1);
}

/* Content area */

.content {
    grid-area: content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Cormorant Infant', serif;
    color: rgba(43, 39, 39, 1);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px 0px;
}

.box {
    max-width: 40vw;
    min-width: 350px;
    min-height: 400px;
    margin: 1vw 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 8px 8px 5px rgba(90, 88, 88, 0.4);
            box-shadow: 8px 8px 5px rgba(90, 88, 88, 0.4);
    background-size: cover;
    border: solid 2px rgba(43, 39, 39, 1);
}

.box h2 strong {
    font-size: 1.5em;
}


.box p {
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    background-color: rgba(248, 233, 173, 0.9);
    padding: 10px 10px;
    margin: 2px 2px;
    border: 1px solid rgba(43, 39, 39, 1);
    border-radius: 2px;
}

.box h2 {
    background-color: rgba(248, 233, 173, 0.9);
    -webkit-transition: font-size 2s;
    transition: font-size 2s;
    width: 90%;
    padding: 5px 5px;
    border-radius: 2px;
    border: 1px solid rgba(43, 39, 39, 1);
    margin-top: 0px;
    font-size: 1.3em;
}

.box:hover p {
    opacity: 1;
}

.box:hover h2 {
    font-size: 1.5em;
}


/*individual boxes in content area */

.when {
    background-image: url("Images/Compressed/combined-image-2-min.jpg");
}

.why {
    background-image: url("Images/Homepage tollhouse.jpg");
}

.who {
    background-image: url("Images/Compressed/combined-image-1-min.jpg");
}

.how {
    background-image: url("Images/Compressed/Homepage change-min.JPG");
}


/* Find Out More area */

.findMore {
    grid-area: findMore;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Fondamento', cursive;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.findMore h2 {
    font-size: 2.2em;
    background: rgba(248, 233, 173, 0.9);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: double 5px black;
    text-shadow: 1px 1px 2px rgba(65, 61, 61, 1);
    -webkit-transition: font-size 1s linear;
    transition: font-size 1s linear;
}

.findMore h2:hover {
    font-size: 2.3em;
    cursor: pointer;
    color: rgba(13, 61, 61, 1);
}

.findMore a {
    text-decoration: none;
}

/* Footer area */

.footer {
    grid-area: footer;
    background-color: rgba(248, 233, 173, 0.8);
    border-top: double 5px black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Cormorant Infant', serif;
    font-size: 0.8em;
    color: rgba(43, 39, 39, 1);
    padding: 2px 2px;
}

/*Media Queries */

/* Smaller desktop, resizing styling */

@media only screen and (max-width: 1018px) {
    .heading {
        padding: 5px 5px;
    }

    .heading div {
        width: 95%;
        font-size: 2.4vw;
        padding: 20px 0px;
    }

    .heading h3 {
        font-size: 3.7vw;
    }

    .heading img {
        max-height: 80px;
    }

    .navBar a {
        font-size: 1.6em;
        padding-left: 10px;
        padding-right: 5px;
        /*
        /*padding: 0px 10px; */
    }

    .navBar {
        padding: 0px 60px 10px 60px;
    }

    .box {
        max-width: 450px;
    }

}

/* Mobile device styling */

@media only screen and (max-width: 640px) {
    .navBar {
        padding: 0px 0px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .navBar a {
        font-size: 1.4em;
        white-space: nowrap;
        padding: 10px 15px;
    }

    .heading div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        min-height: 40vw;
    }

    .heading img {
        width: 70%;
        border: none;
        display: none;
    }

    .heading h1 {
        font-size: 3.5em;
        white-space: normal;
    }

    .heading h3 {
        font-size: 2.1em;
    }

    body {
        border: ridge 5px rgba(107, 71, 36, 1);
    }

    .box {
        min-width: 70%;
        min-height: 450px;
        margin-bottom: 40px;
    }

    .box h2 {
        font-size: 1.5em;
    }

    .box h2,
    p {
        width: 100%;
    }

    .box p {
        font-size: 1.2em;
        opacity: 1;
    }

    .navBar {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .when {
        background-image: url("Images/Compressed/Switzer garden-min.jpg");
        background-position: 50% 30%;
    }

    .who {
        background-image: url("Images/Compressed/MrSumner.jpg");
        background-position: 50% 10%;
    }

    .how {
        background-image: url("Images/Compressed/Homepage change-min.JPG");
        background-position: center
    }

    .content {
        padding-bottom: 0px;
        padding-top: 20px;
    }

    .findMore h2 {
        font-size: 2.2em;
        padding: 30px 10px;
        min-height: 60px;
    }

    .footer {
        padding: 5px 10%;
    }

    /*REMOVE TRANSITIONS ON MOBILE TOUCH SCREENS */
    * {
        -webkit-transition: none !important;
        transition: none !important;
    }
}





/* !!! OUR SERVICES / SERVICES.HTML PAGE STYLING !!! */



.servicesContainer {
    background-image: url("Images/Compressed/background-min.JPG");
    background-size: cover;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "heading"
        "navBar"
        "servicesContent"
        "footer"
}

.servicesContentHolder {
    grid-area: servicesContent;
    min-height: 500px;
    padding: 20px 0px;
    background-image: url("Images/Background 2.JPG");
    background-size: cover;
}

.servicesContent {
    width: 60%;
    min-height: 100%;
    margin: 0px auto;
    font-family: 'Cormorant Infant', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    background-color: rgba(248, 233, 173, 0.9);
    border: double 5px black;
    color: rgba(43, 39, 39, 1);
}

.servicesContent h1 {
    font-size: 2.9em;
    text-decoration: underline;
}

.servicesContent h2 {
    font-size: 1.8em;
}

.servicesContent h3 {
    color: rgb(65, 75, 20);
    font-size: 1.4em;
}

.servicesContent p {
    font-size: 1.2em;
}


.servicesContent span,
a {
    text-decoration: underline;
    color: rgba(43, 39, 39, 1);
}

.servicesContent section,
article {
    padding: 20px 10px;
}

@media only screen and (max-width: 1018px) {
    .servicesContent {
        width: 80%;
    }

}


@media only screen and (max-width: 640px) {

    .servicesContent {
        width: 95%;
    }

    .servicesContent h1 {
        font-size: 2.3em;
    }

    .servicesContent h2 {
        font-size: 1.4em;
    }

    .servicesContent h3 {
        font-size: 1.2em;
    }

    .servicesContent p {
        font-size: 1em;
    }
}


/* !!! ABOUT / ABOUT.HTML PAGE STYLING !!! */

.aboutContainer {
    background-image: url("Images/Compressed/background-min.JPG");
    background-size: cover;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "heading"
        "navBar"
        "aboutImages"
        "footer"
}

.aboutImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.aboutImages img {
    max-height: 225px;
    margin: 10px 10px;
    border-radius: 2px;
    -webkit-box-shadow: 8px 8px 5px rgba(90, 88, 88, 0.4);
            box-shadow: 8px 8px 5px rgba(90, 88, 88, 0.4);
    border: solid 2px rgba(43, 39, 39, 1);
}

.aboutInfo {
    font-family: 'Cormorant Infant', serif;
    position: absolute;
    top: 400px;
    left: 22%;
    z-index: 1;
    margin: 0px auto;
    text-align: center;
    width: 60%;
    background-color: rgba(248, 233, 173, 0.95);
    border: double 5px black;
    padding: 20px 20px;
}

.aboutInfo h1,
h3,
p {
    padding: 20px 0px;
}

.aboutInfo h1 {
    font-size: 2.9em;
    text-decoration: underline;
    color: rgba(43, 39, 39, 1);
}

.aboutInfo h3 {
    color: rgb(65, 75, 20);
    font-size: 1.4em;
}

.aboutInfo p {
    font-size: 1.2em;
}

@media only screen and (max-width: 820px) {
    .aboutImages {
        padding: 30px 5px;
    }

    .aboutImages img {
        max-height: 200px;
    }
}

@media only screen and (max-width: 695px) {
    .aboutImages {
        padding: 450px 2px 20px;

    }

    .aboutImages img {
        max-height: 150px;
        margin: 2px 2px;
    }

    .aboutInfo {
        top: 350px;
        width: 80%;
        left: 10%;
    }

    .aboutInfo h1 {
        font-size: 2.4em;
    }

    .aboutInfo h3 {
        font-size: 1.2em;
    }

    .aboutInfo p {
        font-size: 1.0em;
    }

    .aboutInfo h1,
    h3,
    p {
        padding: 5px 0px;
    }

}

@media only screen and (max-width: 490px) {
    .aboutImages {
        padding-top: 600px;
    }

    .aboutInfo {
        top: 350px;
        left: 1%;
        width: 98%;

    }
}


/* !!! CONTACT US / CONTACT.HTML PAGE STYLING !!! */

.contactContainer {
    background-image: url("Images/Compressed/background-min.JPG");
    background-size: cover;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Cormorant Infant', serif;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "heading"
        "navBar"
        "contactContent"
        "footer"
}

.contactContent {
    grid-area: contactContent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.aboutBrigid,
.contactInfo,
.contactForm {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px 5px;
    margin: 10px 10px;
    background-color: rgba(248, 233, 173, 0.9);
    border: 5px double black;
    color: rgba(43, 39, 39, 1);
}

.aboutBrigid {
    width: 70%;
}

.aboutBrigid img {
    width: 150px;
    float: left;
    margin: 10px;
}

.contactInfo {
    text-align: center;
    width: 30%;
}

.contactInfo ul {
    list-style: none;
}

.contactForm {
    width: 40%;
    text-align: center;
}


@media only screen and (max-width: 820px) {
    .contactContent {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .aboutBrigid {
        width: 80%;
    }

    .contactInfo,
    .contactForm {
        width: 50%;
    }
}


    @media only screen and (max-width: 695px) {
        .aboutBrigid {
            width: 90%
        }

        .contactInfo,
        .contactForm {
            width: 80%;
        }

    }