* {
    /*font-family: 'Fondamento', cursive;*/
    padding: 0px;
    margin: 0px;
}

body {
}

/* Setting up the main grid template */

.container {
    border: ridge 5px rgb(107, 71, 36);
    background-image: url("Images/background.JPG");
    background-size: auto 1500px; 
    /*background-color: rgb(255, 255, 255,0.3); */
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 70% 1fr 1fr;
    grid-template-areas: 
    "heading"
    "navBar"
    "content"
    "findMore"
    "footer"
}

.cell {
    background-color: rgb(255, 255, 255,0.3);
    
}


/* Heading area */

.heading {
    grid-area: heading;
    display: grid;
    justify-items: center;
    align-items: center;
    border: none;
    padding-top: 5px;
    background-color: rgb(255, 255, 255,0.6);
}

.heading div {
    text-align: center;
    font-size: 1.7em;
    background-color: rgb(142, 153, 99);
    padding: 10px 40px;
    border-radius: 5px;
    border: double 5px black;
}

.heading h1 {
    font-family: 'Fondamento', cursive;
    text-shadow: 2px 2px 5px rgb(65, 61, 61);
}

.heading h1, h3 {
    padding: 0px;
    margin: 0px;
}

.heading h3 {
    font-family: 'Cormorant Infant', serif;
    text-shadow: 1px 1px 2px rgb(65, 61, 61);
}

.heading img {
    width: 50px;
    height: auto;
}


/*NavBar area */

.navBar {
    grid-area: navBar;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    border: none;
    padding: 0px 20%;
    background-color: rgb(255, 255, 255,0.6);
}

.navBar a {
    font-size: 1.7em;
    text-decoration: none;
    color: black;
    font-family: 'Cormorant Infant', serif;
    transition: border-top 3s linear 0.1s, border-bottom 3s linear 0.1s;
}

.navBar a:hover {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
   /* border-top: 1px solid grey; */
}

/* Content area */

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: 'Cormorant Infant', serif;
}

.box {
    max-width: 40%;
    height: 40%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /*background-image: url("https://via.placeholder.com/500x300");*/
    border-radius: 2px;
    box-shadow: 8px 8px 5px rgb(90, 88, 88,0.4);
    background-size: cover;
    /*border: ridge 5px rgb(107, 71, 36) */
    border: solid 1px white;
}

.box h2 strong {
    font-size: 1.3em;
}

.box h2 p {
    /*font-family: 'Cormorant Infant', serif;*/
}

.box p {
    opacity: 0;
    transition: opacity 5s;
    background-color:rgb(248, 233, 173,0.9);
    padding: 10px 10px;
    margin: 2px 2px;
    border: 1px solid black;
}

.box h2 {
    background-color:rgb(248, 233, 173,0.9);
    transition: font-size 2s;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 2px;
    border: 1px solid white;
    margin-top: 2px;
}

.box:hover p {
    opacity: 1;
}

.box:hover h2 {
    font-size: 1.6em;
}

/*individual boxes in content area */

.when {
    background-image: url("Images/Tudor door.JPG");
}

.why {
    background-image: url("Images/Homepage tollhouse.jpg");
}